@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Secular+One&display=swap'); 

 

 

body { 

    display: flex; 

    margin: 0; 

    font-family: "PT Serif", serif; 

    width: 100vw; 

    height: 100vh; 

    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGVkZjd4djRyZzZhNTc1cnlveWFpN3RuOHFvZnM1aHo3c3UyMTRjNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3q3SUqPnxZGQpMNcjc/giphy.gif"); 

    background-size: cover; 

    background-repeat: no-repeat; 

    box-sizing: border-box; 

    justify-content: center; 

    align-items: center; 

}
* a{
    text-decoration: none;
}

.bloco{ 

    display: flex; 

    width: 40vw; 

    height: 60vh; 

    background-color: aliceblue; 

    /* border-radius: 10%;  */

    border: 0.5vh solid #023047; 

    flex-direction: column; 

    justify-content: center; 

    align-items: center; 


} 

.bloco h1{ 
    display: flex; 
    font-size: 6vh; 
    text-align: center;
    /* margin-top: -5vh; */
    border-bottom: 0.5vh solid #023047;
    justify-content: start;

}
.estilo{
    height: 25%;
    width: 50%;
    margin-top: -5vh;
    margin-right: 15vh;
}

.bloco h2{ 

    display: flex; 
    text-align: start; 
    font-size: 2vh;
    /* margin-left: 37vh; */ 

}
.estilo_email_senha{
    height: 25%;
    width: 50%;
    margin-right: 15vh;
}
button{
    display: block;
    font-size: 3vh;
    /* border-radius: 3vh; */
    background-color: #023047;
    color: azure;
    /* margin-right: 47vh; */
    margin-top: 5vh;
    width:58vh

}
.estilo_cadastro h3{
    height: 100%;
    width: 100%;
    /* margin-top: -5vh; */
    /* margin-left: 15vh; */
    font-size: 2vh;
text-align: center;
}
.cadastrar{
    width: 100%;
    font-size: 2vh;
    /* margin-top: vh; */

}
.estilo_cadastro a{
    display:flex;
    margin-top: -4vh;
    justify-content: center;
}
